<!DOCTYPE HTML>
<img class="frame" id="side01" src="img/LoginView/side_01.png">
<img class="frame" id="side02" src="img/LoginView/side_02.png">
<img class="frame" id="side03" src="img/LoginView/side_03.png">
<a href="#Page0">
  <img class="frame" id="logo" src="img/logo.png" ng-click="changeColor(0)">
</a>

<nav class="frame" id="rightBar" >
  <a class="rightWord" id="text1" href="#Page1" ng-click="changeColor(1)">about</a>
  <a class="rightWord" id="text2" href="#Page2" ng-click="changeColor(2)">services</a>
  <a class="rightWord" id="text3" href="#Page3" ng-click="changeColor(3)">news</a>
  <a class="rightWord" id="text4" href="#Page4" ng-click="changeColor(4)">work</a>
  <a class="rightWord" id="text5" href="#Page5" ng-click="changeColor(5)">contact</a>
</nav>
<div id="fullpage">
  <div class="section" id="section0">
    <div id="section0_1">
      <p id="p1"></p>
      <p id="p2"></p>
      <p id="p3"></p>
    </div>
    <img id="scroll" src="img/LoginView/scroll.png"/>
    <img id="arrow" src="img/LoginView/arrow.png"/>
  </div>
  <div class="section" id="section1">
    <img id="aboutRaymn" src="img/About/raymn.png"/>
    <div id="section1_1">
      <div id="{{data.id}}" ng-click="clickCard(data.number)" ng-repeat="data in data">
        <img class="nameImg" ng-src="{{data.nameImg}}" ng-mouseenter="photoImgShow(data.number)" ng-mouseleave="photoImgHide(data.number)"/><br>
        <img class="photoImg" id="photoImg{{data.number}}" ng-src="{{data.img}}" ng-mouseenter="photoImgShowAgain(data.number)" ng-mouseleave="photoImgHide(data.number)">
        <div class="photoBorder"></div>
      </div>
    </div>
    <div id="section1_2">
      <div id="section1_2_1" ng-click="clickDark()"></div>
      <div id="section1_2_2"><br>
        <img id="photo" ng-src="{{content.img}}">
        <img id="close" src="img/About/close.png" ng-click="clickDark()">
        <div id="personalText">
          <h>{{content.allName}}</h>
          <p>{{content.p1}}</p>
        </div>
      </div>
      <div id="section1_2_3">
      </div>
    </div>
  </div>
  <div class="section" id="section2">
    services
  </div>
  <div class="section" id="section3">
    news
  </div>
  <div class="section" id="section4">
    Work
  </div>
  <div class="section" id="section5">
    Contact
  </div>
</div>


