<!DOCTYPE HTML>
<img class="frame" id="side01" src="img/LoginView/side_01.png">
<img class="frame" id="side02" src="img/LoginView/side_02.png">
<img class="frame" id="side03" src="img/LoginView/side_03.png">
<a href="#Home">
  <img class="frame" id="logo" src="img/logo.png" ng-click="changeColor(0)">
</a>

<nav class="frame" id="rightBar" >
  <a class="rightWord" id="text1" href="#About" ng-click="changeColor(1)">{{ LanguageData.home.sideBar[0] }}</a>
  <a class="rightWord" id="text2" href="#Service" ng-click="changeColor(2)">{{ LanguageData.home.sideBar[1] }}</a>
  <a class="rightWord" id="text3" href="#News" ng-click="changeColor(3)">{{ LanguageData.home.sideBar[2] }}</a>
  <a class="rightWord" id="text4" href="#Work" ng-click="changeColor(4)">{{ LanguageData.home.sideBar[3] }}</a>
  <a class="rightWord" id="text5" href="#Contact" ng-click="changeColor(5)">{{ LanguageData.home.sideBar[4] }}</a>
</nav>
<div id="fullpage">
  <div class="section" id="section0">
    <div id="section0_1">
      <p id="p1"></p>
      <p id="p2"></p>
      <p id="p3"></p>
    </div>
    <img id="scroll" src="img/LoginView/scroll.png"/>
    <img id="arrow" src="img/LoginView/arrow.png"/>
<!--     <a href = "javascript:void(0)" ng-click = "clickChinese()">中文</a>
    <a href = "javascript:void(0)" ng-click = "clickEnglish()">English</a>
 -->  </div>
  <div class="section" id="section1">
    <img id="aboutRaymn" src="img/About/raymn.png"/>
    <div id="section1_1">
      <div id="{{data.id}}" ng-click="clickCard(data.number)" ng-repeat="data in data">
        <img class="nameImg" once-src="data.nameImg" ng-mouseover="photoImgShow(data.number)" ng-mouseleave="photoImgHide(data.number)"/><br>
        <img class="photoImg" id="photoImg{{data.number}}" once-src="data.img" ng-mouseover="photoImgShowAgain(data.number)" ng-mouseleave="photoImgHide(data.number)">
        <div class="photoBorder"></div>
      </div>
    </div>
    <div id="section1_2">
      <div id="section1_2_1" ng-click="clickDark()"></div>
      <div id="section1_2_2"><br>
        <img id="photo" ng-src="{{content.img}}">
        <img id="close" src="img/About/close.png" ng-click="clickDark()">
        <div id="personalText">
          <h1>{{content.allName}}</h1>
          <h2>{{content.title}}</h2>
          <div id="section1_2_2_1">
            <p>{{content.p1}}</p>
        </div>
        </div>
      </div>
      <div id="section1_2_3">
      </div>
    </div>
  </div>
  <div class="section" id="section2">
    <div id="section2_1">
      <img id="shadow0" src="img/Service/shadow.png">
      <img id="service0" src="img/Service/design.png">
      <img id="white0" ng-mouseover="serviceMove(0)" ng-mouseleave="serviceQuit(0)" src="img/Service/white.png">
      <div id="word0">
        <p>{{ LanguageData.service.design }}</p>
      </div>
      <img id="shadow1" src="img/Service/shadow.png">
      <img id="service1" src="img/Service/web.png">
      <img id="white1" ng-mouseover="serviceMove(1)" ng-mouseleave="serviceQuit(1)" src="img/Service/white.png">
      <div id="word1">
        <p>{{ LanguageData.service.website }}</p>
      </div>
      <img id="shadow2" src="img/Service/shadow.png">
      <img id="service2" src="img/Service/app.png">
      <img id="white2" ng-mouseover="serviceMove(2)" ng-mouseleave="serviceQuit(2)" src="img/Service/white.png">
      <div id="word2">
        <p>{{ LanguageData.service.app }}</p>
      </div>
    </div>
  </div>
  <div class="section" id="section3">
      <div id="section3_1">
          <div class="news" id="news{{news.newsid}}" ng-click="clickNews(news.newsid)" ng-repeat="news in news">
              <img class="newsBackground" id="newsBackground1" src="img/News/square_down.png"/><br>
              <div class="newsMove">
                  <img class="newsFront" id="newsFront1" src="img/News/square_up.png"><br>
                  <div class="newsSquare" id="newsSquare1">
                      <img class="newsIcon" ng-src="{{ news.image }}"/>
                  </div>
                  <img class="newsWhite" id="newsWhite1" src="img/News/square_trans.png"><br>
                  <div class="newsDate" id="newsDate1"></div><br>
              </div>
              <div class="newsTitle" id="newsTitle1">{{ news.title }}</div>
          </div>
      </div>
      <div id="section3_2" ng-mouseover="newsLeft()" ng-mouseleave="newsLStop()"></div>
      <div id="section3_3" ng-mouseover="newsRight()" ng-mouseleave="newsRStop()"></div>
      <div id="section3_4">
          <div id="section3_4_1" ng-click="clickDark2()"></div>
          <div id="section3_4_2"><br>
              <img id="newsPhoto" ng-src="{{newsContent.image}}">
              <img id="close2" src="img/About/close.png" ng-click="clickDark2()">
              <div id="newsText">
                <h>{{newsContent.title}}</h>
                <p>{{newsContent.year}}  {{newsContent.date}} {{newsContent.category}}</p>
                <div id="section3_4_2_1">
                  <p>{{newsContent.content}}</p>
                  <a id="link" target="_blank" style="color: #FFFFFF" href="{{newsContent.url}}">{{newsContent.url}}</a>
                </div>
              </div>
          </div>
          <div id="section3_4_3">
          </div>
      </div>
  </div>
  <div class="section" id="section4">

  </div>
  <div class="section" id="section5">
      <div id="section5_1">
          <div id="section5_1_1">
              <p id="p5_1_1_1"></p>
              <p id="p5_1_1_2"></p>
              <p id="p5_1_1_3"></p>
          </div>
          <div id="section5_1_2">
              <div id="section5_1_2_1_b"></div>
              <input ng-model="Email.name" id="section5_1_2_1" type="text" name="Name" placeholder="{{LanguageData.contact.placeHolder[0]}}"><br>
              <div id="section5_1_2_2_b"></div>
              <input id="section5_1_2_2" ng-model="Email.email" type="text" name="Email" placeholder="{{LanguageData.contact.placeHolder[1]}}"><br>
              <div id="section5_1_2_3_b"></div>
              <input id="section5_1_2_3" ng-model="Email.title" type="text" name="Title" placeholder="{{LanguageData.contact.placeHolder[2]}}"><br>
              <textarea ng-model="Email.content" id="section5_1_2_4" name="Message" placeholder="{{LanguageData.contact.placeHolder[3]}}"></textarea>
          </div>
      </div>
      <div id="section5_2">
         <p id="p5_1_3" ng-click="email()"></p>
      </div>
  </div>
</div>


