<!DOCTYPE HTML SYSTEM>
<html ng-app="opApp">
<head>

  <link rel="stylesheet" href="/css/index.css"/>
  <link rel="stylesheet" href="/css/jquery.fullPage.css"/>
  <link rel="Shortcut Icon" href="/img/icon.jpg" />
  <script src="https://s3-ap-northeast-1.amazonaws.com/muqq/js/es5-shim.min.js"></script>
  <script src="https://s3-ap-northeast-1.amazonaws.com/muqq/js/jquery.min.js"></script>
  <script src="https://s3-ap-northeast-1.amazonaws.com/muqq/js/angular.min.js"></script>
  <script src="https://s3-ap-northeast-1.amazonaws.com/muqq/js/angular-file-upload.min.js"></script>

  <script src="https://s3-ap-northeast-1.amazonaws.com/muqq/js/angular-strap.min.js"></script>
  <script src="https://s3-ap-northeast-1.amazonaws.com/muqq/js/lodash.min.js"></script>
  <script type="text/javascript" src="/js/jquery.easings.min.js"></script>
  <script type="text/javascript" src="/js/jquery.slimscroll.min.js"></script>
  <script type="text/javascript" src="/js/jquery.fullPage.min.js"></script>
  <script type="text/javascript" src="/js/muqq.js"></script>
  <script type="text/javascript" src="/js/angular-animate.min.js"></script>
  <!--<script type='text/javascript' src='/js/livereload.js'></script>-->


</head>
<body>
    <%include content%>
</body>
</html>
