.frame {
    position: fixed;
    z-index: 10;
}

#logo {
    position: absolute;
    width:492px;
    top:40px;
    left:70px;
    cursor:pointer;
}

#side01 {
    position: absolute;
    right: 0px;
    bottom:0px;
    vertical-align: bottom;
}

#side02 {
    position: absolute;
    width: 139px;
    height: 100%;
    right: -1px;
    bottom: 137px;
    vertical-align: bottom ;
}

#side03 {
    position: absolute;
    right:138px;
    bottom: 0px;
    width: 100%;
    height: 137px;
    vertical-align: bottom ;
}

#rightBar {
    position: absolute;
    height:200px;
    width:100px;
    top:155px;
    right:20px;
    font-size: 20px;
    font-weight: bolder;
    font-family: Verdana, Geneva, Arial, sans-serif;
    -webkit-transform: rotateY(30deg);
}

#rightBar a {
    text-decoration: none;  
}

.rightWord {
    cursor:pointer;
    color: #000000;
}

.rightWord:hover {
    cursor:pointer;
    color: #FFFFFF;
}

.rightWord2 {
    cursor:pointer;
    color: #FFFFFF;
}

#text1 {
    position: absolute;
    height:27px;
    width:76px;
    top: 0px;
    -webkit-transform: skew(0deg,-10deg);
}

#text2 {
    position: absolute;
    height:27px;
    width:76px;
    top: 44px;
    -webkit-transform: skew(0deg,-5deg);
}

#text3 {
    position: absolute;
    height:27px;
    width:76px;
    top: 85px;
    -webkit-transform: skew(0deg,0deg);
}

#text4 {
    position: absolute;
    height:27px;
    width:76px;
    top: 128px;
    -webkit-transform: skew(0deg,5deg);
}

#text5 {
    position: absolute;
    height:27px;
    width:76px;
    top: 170px;
    -webkit-transform: skew(0deg,10deg);
}