.frame {
    position: fixed;
    z-index: 10;
}

#logo {
    position: absolute;
    width:492px;
    top:40px;
    left:30px;
    cursor:pointer;

}

#side01 {
    position: absolute;
    right: 0px;
    bottom:0px;
    vertical-align: bottom;
}

#side02 {
    position: absolute;
    width: 139px;
    height: 100%;
    right: -1px;
    bottom: 137px;
    vertical-align: bottom ;
}

#side03 {
    position: absolute;
    right:138px;
    bottom: 0px;
    width: 100%;
    height: 137px;
    vertical-align: bottom ;
}

#rightBar {
    position: absolute;
    height:200px;
    width:100px;
    top:155px;
    right:20px;
    font-size: 20px;
    font-weight: bolder;
    font-family: Verdana, Geneva, Arial, sans-serif;
    -webkit-transform: rotateY(30deg);
}

#rightBar a {
    text-decoration: none;  
}

.rightWord {
    cursor:pointer;
    color: #000000;
}

.rightWord:hover {
    cursor:pointer;
    color: #FFFFFF;
}

.rightWord2 {
    cursor:pointer;
    color: #FFFFFF;
}

#text1 {
    position: absolute;
    height:27px;
    width:76px;
    top: 0px;
    -webkit-transform: skew(0deg,-10deg);
}

#text2 {
    position: absolute;
    height:27px;
    width:76px;
    top: 44px;
    -webkit-transform: skew(0deg,-5deg);
}

#text3 {
    position: absolute;
    height:27px;
    width:76px;
    top: 85px;
    -webkit-transform: skew(0deg,0deg);
}

#text4 {
    position: absolute;
    height:27px;
    width:76px;
    top: 128px;
    -webkit-transform: skew(0deg,5deg);
}

#text5 {
    position: absolute;
    height:27px;
    width:76px;
    top: 170px;
    -webkit-transform: skew(0deg,10deg);
}

/*=========================================================================*/
/*=========================================================================*/


#section0 {
    background: #FFF100;
}

#section0_1 {
    position: absolute;
    top: 200px;
    left: 50px;
}

#section0_1 p {
    position: relative;
    margin: 0px;
    font-size: 40px;
    font-weight: bold; 
    color: white ;
    font-family: 'Ubuntu', sans-serif;
}

#scroll{
    position: absolute;
    bottom:150px;
    left:500px;
    height: 41px;
    width: 234px;
}

#arrow{
    position: absolute;
    bottom:165px;
    left:507px;
    -webkit-animation: arrow 0.8s linear 1s infinite alternate;
}


#section1 {
    background: #FFFF66;
}

#section1_1 {
    position: relative;
    top: 340px;
    left: 50%;
    height: 300px;
    width: 900px;
    margin-top: -90px;
    margin-left: -465px;
    background: rgba(0, 0, 0, 0);
}

#aboutRaymn{
    position: relative;
    top: 220px;
    left: 50%;
    margin-left: -215px;
}

#card1,
#card2,
#card3,
#card4,
#card5,
#card1WhenClick,
#card2WhenClick,
#card3WhenClick,
#card4WhenClick,
#card5WhenClick,
#card1WhenHover,
#card2WhenHover,
#card3WhenHover,
#card4WhenHover,
#card5WhenHover {
    position: relative;
    bottom: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px 5px 0px 5px;
    text-align: center;
    float:left;
    z-index: 20;
    cursor: auto;
    visibility: visible;

    -moz-transition: 0.5s ease-out;
    -ms-transition: 0.5s ease-out;
    -o-transition: 0.5s ease-out;
    -webkit-transition: 0.5s ease-out;
    transition:0.5s ease-out;

    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

#card1WhenHover:hover,
#card2WhenHover:hover,
#card3WhenHover:hover,
#card4WhenHover:hover,
#card5WhenHover:hover {
    -moz-transform:translatex(0px, -30px);
    -ms-transform:translatex(0px, -30px);
    -o-transform:translatex(0px, -30px);
    -webkit-transform: translate(0px, -30px);
    transform: translate(0px, -30px);
    -webkit-animation: card_hover 1s linear 0s infinite alternate;
}

#card1WhenHover:hover > .photoInCard,
#card2WhenHover:hover > .photoInCard,
#card3WhenHover:hover > .photoInCard,
#card4WhenHover:hover > .photoInCard,
#card5WhenHover:hover > .photoInCard,
#card1WhenHover:hover > .photoImg,
#card2WhenHover:hover > .photoImg,
#card3WhenHover:hover > .photoImg,
#card4WhenHover:hover > .photoImg,
#card5WhenHover:hover > .photoImg {
    opacity: 1;
}

#card1WhenHover:hover > .photoBorder,
#card2WhenHover:hover > .photoBorder,
#card3WhenHover:hover > .photoBorder,
#card4WhenHover:hover > .photoBorder,
#card5WhenHover:hover > .photoBorder {
    opacity: 1;
    -moz-transform: translate(8px, 8px);
    -ms-transform: translate(8px, 8px);
    -o-transform: translate(8px, 8px);
    -webkit-transform: translate(8px, 8px);
    transform: translate(8px, 8px);
    -webkit-animation: card_hover_photoBorder 1s linear 0s infinite alternate;
}

.nameImg {
    position: relative;
    cursor: pointer;
}

.photoImg {
    position: relative;
    top: -20px;
    width: 150px;
    opacity: 0;
    z-index: 10;

    -moz-transition: opacity 0.5s ease-out;
    -ms-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
    -webkit-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out;
}

.blockImg {
    position: absolute;
    top: 63px;
    width: 150px;
    left: 5px;
    opacity: 0;

    -moz-transition: 0.5s ease-in 0s;
    -ms-transition: 0.5s ease-in 0s;
    -o-transition: 0.5s ease-in 0s;
    -webkit-transition: 0.5s ease-in 0s;
    transition: 0.5s ease-in 0s;
}

.photoBorder {
    position: absolute;
    top: 60px;
    height: 150px;
    width: 150px;
    left: 4px;
    opacity: 0;
    border: thin solid black;

    -moz-transition: 0.5s ease-in 0s;
    -ms-transition: 0.5s ease-in 0s;
    -o-transition: 0.5s ease-in 0s;
    -webkit-transition: 0.5s ease-in 0s;
    transition: 0.5s ease-in 0s;
}

#section1_2 {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 100%;
    width: 100% ;
    z-index: 20;
    visibility: hidden;
}

#section1_2_1 {
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 100%;
    width: 100% ;
    background-color: rgba(0, 0, 0, 0.5);
}

#section1_2_2 {
    position: absolute;
    height: 250px;
    width: 550px;
    left: 50%;
    top: 0%;
    margin-top: -125px;
    margin-left: -415px;
    padding: 0px 30px 0px 250px;
    color: white;
    background-color: #66CC66;
    text-align: center;
    z-index: 10;
}

#section1_2_2 h {
    font-size: 26px;
}

#section1_2_2 p {
    margin: 5px;
    font-size: 18px;
}

#photo {
    position: absolute;
    height: 200px;
    top: 25px;
    left: 25px;
    float: left;
}

#close{
    position: relative;
    right: -20px;
    top: -8px;
    width: 16px;
    float: right;
    cursor: pointer;
}

#section1_2_3 {
    position: absolute;
    height: 250px;
    width: 550px;
    left: 50%;
    top: 0%;
    margin-top: -122px;
    margin-left: -412px;
    padding: 0px 30px 0px 250px;
    background-color: rgba(0, 0, 0, 0);
    border: thin solid black;

}

.whenClick2 {
    -moz-transition: 0.2s ease-in 0s;
    -ms-transition: 0.2s ease-in 0s;
    -o-transition: 0.2s ease-in 0s;
    -webkit-transition: 0.5s ease-in 0s;
    transition: 0.2s ease-in 0s;
    -webkit-animation: section1_2_2 1s linear 0s infinite alternate;
}

.whenClick3 {
    -moz-transition: 0.2s ease-in 0s;
    -ms-transition: 0.2s ease-in 0s;
    -o-transition: 0.2s ease-in 0s;
    -webkit-transition: 0.5s ease-in 0s;
    transition: 0.2s ease-in 0s;
    -webkit-animation: section1_2_3 1s linear 0s infinite alternate;
}

#section2 {
    background: #CCFF00;
}

#section2_1 {
    position: relative;
    top: 25%;
    left: 50%;
    height: 300px;
    width: 900px;
    margin-top: 0px;
    margin-left: -502px;
    background: rgba(0, 0, 0, 0);
}

#shadow0{
    position: absolute;
    left:50px;
    top:10px; 
    float: left;
}

#service0{
    position: absolute;
    left:50px;
    top:0px;
    float: left ;
    -moz-transition: 0.5s ease-in 0s;
    -ms-transition: 0.5s ease-in 0s;
    -o-transition: 0.5s ease-in 0s;
    -webkit-transition: 0.5s ease-in 0s;
    transition: 0.5s ease-in 0s;
}

#white0{
    position: absolute;
    left:65px;
    top:15px;
    float: left;
    opacity: 0;
    -moz-transition: opacity 0.5s ease-out;
    -ms-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
    -webkit-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out;
    -moz-transition: 0.5s ease-in 0s;
    -ms-transition: 0.5s ease-in 0s;
    -o-transition: 0.5s ease-in 0s;
    -webkit-transition: 0.5s ease-in 0s;
    transition: 0.5s ease-in 0s;
}

#word0{
    position: absolute;
    left:35px;
    top:260px;
    opacity: 0 ;
    -moz-transition: opacity 0.5s ease-out;
    -ms-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
    -webkit-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out;
}

#shadow1{
    position: absolute;
    left:310px;
    top:10px; 
    float: left;
}

#service1{
    position: absolute;
    left:310px;
    top:0px;
    float: left ;
    -moz-transition: 0.5s ease-in 0s;
    -ms-transition: 0.5s ease-in 0s;
    -o-transition: 0.5s ease-in 0s;
    -webkit-transition: 0.5s ease-in 0s;
    transition: 0.5s ease-in 0s;
}

#white1{
    position: absolute;
    left:325px;
    top:15px;
    float: left;
    opacity: 0;
    -moz-transition: opacity 0.5s ease-out;
    -ms-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
    -webkit-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out;
    -moz-transition: 0.5s ease-in 0s;
    -ms-transition: 0.5s ease-in 0s;
    -o-transition: 0.5s ease-in 0s;
    -webkit-transition: 0.5s ease-in 0s;
    transition: 0.5s ease-in 0s;
}

#word1{
    position: absolute;
    left:295px;
    top:260px;
    opacity: 0 ;
    -moz-transition: opacity 0.5s ease-out;
    -ms-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
    -webkit-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out;
}

#shadow2{
    position: absolute;
    left:570px;
    top:10px; 
    float: left;
}

#service2{
    position: absolute;
    left:570px;
    top:0px;
    float: left ;
    -moz-transition: 0.5s ease-in 0s;
    -ms-transition: 0.5s ease-in 0s;
    -o-transition: 0.5s ease-in 0s;
    -webkit-transition: 0.5s ease-in 0s;
    transition: 0.5s ease-in 0s;
}

#white2{
    position: absolute;
    left:585px;
    top:15px;
    float: left;
    opacity: 0;
    -moz-transition: opacity 0.5s ease-out;
    -ms-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
    -webkit-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out;
    -moz-transition: 0.5s ease-in 0s;
    -ms-transition: 0.5s ease-in 0s;
    -o-transition: 0.5s ease-in 0s;
    -webkit-transition: 0.5s ease-in 0s;
    transition: 0.5s ease-in 0s;
}

#word2{
    position: absolute;
    left:555px;
    top:260px;
    opacity: 0 ;
    -moz-transition: opacity 0.5s ease-out;
    -ms-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
    -webkit-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out;
}

#section3 {
    background: #97FF97;
}

#section4 {
    background: #66FF99;
}



/*======================================================================================================================
========================================================================================================================
======================================================================================================================*/
#section5 {
    background: #66FFCC;
}

#section5_1 {
    position: relative;
    height: 400px;
    width: 500px;
    left: 50%;
    top: 30%;
    margin-top: 0px;
    margin-left: -475px;
    padding: 0px 30px 0px 250px;
    background-color: rgba(0, 0, 0, 0);
/*    text-align: center;*/
    z-index:9;
}

#section5_1_1 {
    position: absolute;
    margin-top: 0px;
    margin-left: -2px;
    width: 400px;
    background-color: #66FFCC;
/*    background-color: #00F100;*/
    z-index: 9;
}

#section5_1_1 p {
    position: relative;
    margin: 2px;
    font-size: 14px;
    color: white ;
    font-family: 'Ubuntu', sans-serif;
}

#section5_1_2 {
    position: absolute;
    height: 300px;
    width: 400px;
}

#section5_1_2_1 {
    position: absolute;
    width:352px;
    background-color: yellow;
    margin-top: 30px;
/*    margin-top: 64px;*/
    opacity: 0;
    font-size: 18px;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 8px;
    z-index: 8;
    outline: none ;
    //=====change=====
    -moz-transition: 1s linear 0s;
    -ms-transition: 1s linear 0s;
    -o-transition: 1s linear 0s;
    -webkit-transition: 1s linear 0s;
    transition: 1s linear 0s;
}

#section5_1_2_1_b {
    position: absolute;
    top: 10px;
    margin-left: -2px;
    height: 82px;
    width: 400px;
    background-color: #66FFCC;
/*    background-color: #EE00AA;*/
    z-index: 7;
}

#section5_1_2_2 {
    position: absolute;
    width:352px;
    background-color: yellow;
    margin-top: 50px;
/*    margin-top: 82px;*/
    opacity: 0;
    font-size: 18px;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 8px;
    z-index: 6;
    outline: none ;
    //=====change=====
    -moz-transition: 0.8s linear 0.2s;
    -ms-transition: 0.8s linear 0.2s;
    -o-transition: 0.8s linear 0.2s;
    -webkit-transition: 0.8s linear 0.2s;
    transition: 0.8s linear 0.2s;
}

#section5_1_2_2_b {
    position: absolute;
    top: 10px;
    margin-left: -2px;
    height: 118px;
    width: 400px;
    background-color: #66FFCC;
/*    background-color: #0000AA;*/
    z-index: 5;
}

#section5_1_2_3 {
    position: absolute;
    width:352px;
    background-color: yellow;
    margin-top: 68px;
/*    margin-top: 102px;*/
    opacity: 0;
    font-size: 18px;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 8px;
    z-index: 4;
    outline: none ;
    //=====change=====
    -moz-transition: 0.6s linear 0.4s;
    -ms-transition: 0.6s linear 0.4s;
    -o-transition: 0.6s linear 0.4s;
    -webkit-transition: 0.6s linear 0.4s;
    transition: 0.6s linear 0.4s;
}

#section5_1_2_3_b {
    position: absolute;
    top: 10px;
    margin-left: -2px;
    height: 154px;
    width: 400px;
    background-color: #66FFCC;
/*    background-color: #EE0000;*/
    z-index: 3;
}

#section5_1_2_4 {
    position: absolute;
    width: 352px;
    height: 120px;
    background-color: yellow;
    margin-top: -12px;
/*    margin-top: 124px;*/
    opacity: 0;
    font-size: 18px;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 8px;
    z-index: 2;
    outline: none ;
    //=====change=====
    -moz-transition: 0.4s linear 0.6s;
    -ms-transition: 0.4s linear 0.6s;
    -o-transition: 0.4s linear 0.6s;
    -webkit-transition: 0.4s linear 0.6s;
    transition: 0.4s linear 0.6s;
}

#section5_2 {
    position: relative;
    width: 40px;
    left: 50%;
    top: 30%;
    margin-top: -100px;
    margin-left: -155px;
    padding: 0px 30px 0px 250px;
    background-color: rgba(0, 0, 0, 0);
/*    text-align: center;*/
    z-index:11;
}

#section5_2 p {
    position: relative;
    margin: 0px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    z-index: 11;
}



@-webkit-keyframes arrow {
    0%   {bottom:165px;}
    50%  {bottom:155px;}
    100% {bottom:165px;}
}

@-webkit-keyframes card_hover {
    0%   {top: 0px;}
    50%  {top: -10px;}
    100% {top: 0px;}
}

@-webkit-keyframes card_hover_photoBorder {
    0%   {top: 60px; left: 2px}
    50%  {top: 63px; left: 5px}
    100% {top: 60px; left: 2px}
}

@-webkit-keyframes section1_2_2 {
    0%   {margin-top: -125px;}
    50%  {margin-top: -128px;}
    100% {margin-top: -125px;}
}

@-webkit-keyframes section1_2_3 {
    0%   {margin-top: -122px; margin-left: -412px}
    50%  {margin-top: -120px; margin-left: -409px}
    100% {margin-top: -122px; margin-left: -412px}
}

@-webkit-keyframes aboutRaymn {
    0%  {top: 180px;}
    50% {top: 180px;}
    100%{top: 175px;}
}

