#section1 {
    background: #FFFF66;
}

#section1_1 {
    position: relative;
    top: 50%;
    left: 50%;
    height: 300px;
    width: 900px;
    margin-top: -90px;
    margin-left: -492px;
    background: rgba(0, 0, 0, 0);
}

#aboutRaymn{
    position: relative;
    top: 180px;
    left: 50%;
    margin-left: -280px;
    -webkit-animation: aboutRaymn 1s linear 0s infinite alternate;
}

#card1,
#card2,
#card3,
#card4,
#card5,
#card1WhenClick,
#card2WhenClick,
#card3WhenClick,
#card4WhenClick,
#card5WhenClick {
    position: relative;
    bottom: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px 5px 0px 5px;
    text-align: center;
    float:left;
    z-index: 20;
    cursor: auto;
    visibility: visible;

    //=====change=====
    -moz-transition: 0.5s ease-out;
    -ms-transition: 0.5s ease-out;
    -o-transition: 0.5s ease-out;
    -webkit-transition: 0.5s ease-out;
    transition:0.5s ease-out;

    //=====transform origin=====
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.nameImg {
    position: relative;
    cursor: pointer;
}

.photoImg {
    position: relative;
    top: -20px;
    width: 150px;
    opacity: 0;
    z-index: 10;
    //=====opacity change=====
    -moz-transition: opacity 0.5s ease-out;
    -ms-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
    -webkit-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out;
}

.blockImg {
    position: absolute;
    top: 63px;
    width: 150px;
    left: 5px;
    opacity: 0;
    //=====change=====
    -moz-transition: 0.5s ease-in 0s;
    -ms-transition: 0.5s ease-in 0s;
    -o-transition: 0.5s ease-in 0s;
    -webkit-transition: 0.5s ease-in 0s;
    transition: 0.5s ease-in 0s;
}

.photoBorder {
    position: absolute;
    top: 60px;
    height: 150px;
    width: 150px;
    left: 4px;
    opacity: 0;
    border: 1px solid #66CC66;
    //=====change=====
    -moz-transition: 0.5s ease-in 0s;
    -ms-transition: 0.5s ease-in 0s;
    -o-transition: 0.5s ease-in 0s;
    -webkit-transition: 0.5s ease-in 0s;
    transition: 0.5s ease-in 0s;
}

#section1_2 {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 100%;
    width: 100% ;
    z-index: 20;
    visibility: hidden;
}

#section1_2_1 {
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 100%;
    width: 100% ;
    background-color: rgba(0, 0, 0, 0.5);
}

#section1_2_2 {
    position: absolute;
    height: 250px;
    width: 550px;
    left: 50%;
    top: 50%;
    margin-top: -125px;
    margin-left: -415px;
    padding: 0px 30px 0px 250px;
    color: white;
    background-color: #66CC66;
    text-align: center;
    z-index: 10;
    -webkit-animation: section1_2_2 1s linear 0s infinite alternate;
}

#section1_2_2 h {
    font-size: 26px;
}

#section1_2_2 p {
    margin: 5px;
    font-size: 18px;
}

#photo {
    position: absolute;
    height: 200px;
    top: 25px;
    left: 25px;
    float: left;
}

#close{
    position: relative;
    right: -20px;
    top: -8px;
    width: 16px;
    float: right;
    cursor: pointer;
}

#section1_2_3 {
    position: absolute;
    height: 250px;
    width: 550px;
    left: 50%;
    top: 50%;
    margin-top: -122px;
    margin-left: -412px;
    padding: 0px 30px 0px 250px;
    background-color: rgba(0, 0, 0, 0);
    border: thin solid black;
    -webkit-animation: section1_2_3 1s linear 0s infinite alternate;
}