#section0 {
    background: #FFF100;
}

#section0_1 {
    position: absolute;
    top: 200px;
    left: 50px;
}

#section0_1 p {
    position: relative;
    margin: 0px;
    font-size: 35px;
    font-weight: bold; 
    color: white ;
}

#scroll{
    position: absolute;
    bottom:150px;
    left:500px;
    height: 41px;
    width: 234px;
}

#arrow{
    position: absolute;
    bottom:165px;
    left:507px;
    -webkit-animation: arrow 0.8s linear 1s infinite alternate;
}
